%accent-font {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.87);
}

.button {
  background: #f4e041;
  border-radius: 80px;
  max-width: max-content;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    background: #ffe302;
  }
  &__link {
    display: inline-block;
    @extend %accent-font;
    padding: 4px 29px;
  }
  &__form {
    border: none;
    margin: 0 auto;
  }
  &__dis {
    background: #b4b4b4;
    color: #fff;
    transition: all 0.2s;
    cursor: no-drop;
    &:hover {
      background: #b4b4b4;
      color: #fff;
    }
  }
}

@media (max-width: 380px) {
  .button{
    &__link{
      padding: 4px 27px;
    }
  }
}