%title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}
%accent-font {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.87);
}

.staff {
  padding: 70px 0;
  &__title {
    @extend %title;
    margin: 0 0 50px;
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 370px));
    grid-gap: 29px;
    margin-bottom: 50px;
  }
  &__item {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-image{
      border-radius: 50%;
      overflow: hidden;
    }
    &-name {
      @extend %accent-font;
      margin: 20px 0;
      text-align: center;
    }
    &-text {
      @extend %accent-font;
      &box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
