%font {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 60px;
}
@media (max-width: 768px) {
  .container{
    padding: 0 32px;
  }
}
@media (max-width: 440px) {
  .container{
    padding: 0 16px;
  }
}

